<% @crews = @crews.sorted_crews if params["sort"] == "members" %>

<% @crews.each do |crew| %>
  <h1><a href="crews/<%= crew.id %>"><%= crew.name %></a></h1>
  
  <%= "#{crew.chars_count} members" if params["sort"] == "members" %>
  
  <p style="font-size:15px;"><%= crew.created_at%></p>
  <%= button_to "Edit", "/crews/#{crew.id}/edit", method: :get %><br>
  <%= button_to 'Delete', "/crews/#{crew.id}", method: :delete %>
<% end %><br>

<%= link_to "New Crew", "/crews/new" %><br><br>
<%= link_to 'Sort by Members', "/crews?sort=members" %>