<h1><center><%= @crew.id %> <%= @crew.name %></center></h1>

<h3>Ranking: <%= @crew.ranking %></h3>
<h3>Ship: <%= @crew.ship %></h3>
<h3>Worst Generation? <%= @crew.worst_generation %></h3>

<div style="position:fixed; bottom:0;">
  <p>Created at: <%= @crew.created_at %></p>
  <p>Last updated: <%= @crew.updated_at %></p>
</div>