<% @characters.each do |char| %>
  <h1><%= char.id %> <%= char.name %></h1>
  <p>Crew ID: <%= char.crew_id %></p>

  <h3>Age: <%= char.age %></h3>
  <h3>Devil Fruit Eater? <%= char.devil_fruit_eater %></h3>
  <h3>Epithet: <%= char.epithet %></h3>
  <h3>Bounty: <%= char.bounty %></h3>

  <div style="position:fixed; bottom:0;">
    <p>Created at: <%= char.created_at %></p>
    <p>Last updated: <%= char.updated_at %></p>
  </div>  
<% end %>


