<!DOCTYPE html>
<html>
  <head>
    <title>One Piece!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <nav style="position:fixed; right: 0; top: 0; padding: 1em;">
        <a href="/crews" style="text-decoration: none; color: blue;">Crews</a> |
        <a href="/characters" style="text-decoration: none; color: blue;">Members</a>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
